.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}  

.user-info__edit {
  width: 38px;
  height: 18px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin-top: 28px;
} 


