.edit__button {
  width: 100%;
  height: 50px;
  margin-top: 48px; 
  font-size: 18px;
  line-height: 22px;
} 

@media screen and (max-width: 980px) {
  .user-info__edit {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 24px;
  }
}


